# Sisbot config for 22" Side Table with RGBW 09/11/2019

serialPath: "/dev/ttyACM0"

# Plot size and gearing:
radius: 8.25 # inches
stepsPerThetaRevolution: 20800 # (after gearing)
stepsPerRadiusRevolution: 3200
stepsPerRadiusInch: 2573.2841325173814

autoplay: true # when true it will home and play the default playlist sequentially on boot.

jogStepsTheta: 100
jogStepsRadius: 100

twoBallEnabled: false
attach_track: '0 0,0 0' # set table specific attach verts
detach_track: '0 0,0 0' # set table specific detach verts

autodim: true # is autodim allowed in UI

useRGBW: true # pi connected RGBW LEDs
rgbwCount: 100 # number of rgbw LEDs


useHomeSensors: true # false means that a "home" event means to set the current position as home.
homingThSteps: 30 # Steps per homing check on Theta
homingRSteps: 24 # Steps per homing check on R (30)
homingThPin: 'D,2'
homingRPin: 'C,6'
homingThHitState: 0 # The value the sensor reports when triggered. 0 or 1.
homingRHitState: 0 # The value the sensor reports when triggered. 0 or 1.

useJimmyHoming: false
homingRSpanSteps: 10 # Steps per sensor check on Jimmy Homing R

# Axis directions and nested axis compensation:
nestedAxisSign:       1 # -1 or 1, or 0 if no Naxis
directionSignTheta:   -1 # -1 or 1
directionSignRadius: 1 # -1 or 1
